<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" >
<head>
    <title>BlueBerries BY</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <div class="shopName">
                <h1 class="navbar-brand">
                    BlueBerry
                </h1>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <div class="ni-1">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/main">Main</a>
                        </li>
                    </div>
                    <div class="ni-2">
                        <li class="nav-item" id="reg">
                            <a class="nav-link active" href="/registration">Registration</a>
                        </li>
                    </div>
                        <form action="/logout" method="post">
                            <input type="hidden" name="_csrf" value="{{_csrf.token}}">
                            <button type="submit" class="btn btn-outline-primary">Logout</button>
                        </form>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="back-image-main">

</div>
<div class="bl-info">
    <div class="main-text">
        Вид листопадных кустарников из рода Вакциниум семейства Вересковые.
        Типовой вид этого рода.
        Является ближайшей родственницей брусники и черники
    </div>
</div>
</body>
</html>